body {
  background-color: #7586bb;
  color: #202020;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 110px;
  color: #FD7E00;
}

input[type="search"] {
  background-color: #f1f1f1;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #a8e400;
  color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* レイアウト */
.container {
  display: flex;
}

/* メニュー */
#menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 10px;
  background: #333;
  padding: 10px;
  border-radius: 10px;
  color: white;
  min-height: 100vh;
}

/* コンテンツ */
.content {
  background: white;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;

  height: calc(100vh - 40px);
  overflow-y: auto;
}

/* メニュー開いたとき */
#menu.open {
  display: block;
}

/* メニュー内リンク */
#menu a {
  font-size: 20px;
  padding: 10px 15px;
  background: #333; /* ← 修正（backgroundz削除） */
  border-radius: 10px;
  color: white;
  display: block;
  margin: 5px 0;
}

/* メニューボタン */
#menu-btn {
  font-size: 30px;
  cursor: pointer;
}

/* PC表示 */
@media (min-width: 768px) {
  #menu {
    display: block;
  }

  #menu-btn {
    display: none;
  }
}
